html {
	background-color: darkred;
}

img {
	border-radius: 5px;
}

.parallax {
    min-height: 400px;
    background: transparent;
}

.shop-name-box {
	float: left;
}

.lines-styling {
	float: right;
	line-height: 20%;
	margin-top: 11px;
}

.shop-name-white {
	font-family: "Source Sans Pro", "Arial", sans-serif;
	color: white;
}

.shop-name-red {
	font-family: "Source Sans Pro", "Arial", sans-serif;
	color: darkred;
	font-size: 27px;
}

.hamburger-lines {
	margin-left: 5px;
	width: 30px;
  	height: 2px;
  	border-radius: 2px;
  	background-color: darkred;
}

.main-pic {
	width: 60%;
	display: block;
  	margin: 10px auto;
  	border-radius: 5px;
}

.some-text {
	display: inherit;
	width: 70%;
	margin: 0 auto;
}

.services {
	padding-top: 20px;
	background-color: darkred;
	text-align: center;
}

.services-box {
	margin-bottom: 30px;
}

.footer {
	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	color: white;
   	text-align: center;
}

.footer-content {
	height: 10px;
	margin: auto;
}




